.container {
  width: 100%;

  label {
    width: 100px;
    height: 50px;
    background: rgb(177, 235, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    @include font-style(1.5rem, white, 500);
    margin-bottom: 20px;
  }

  .filetextInput {
    display: none;
  }

  .uploadInput {
    width: 100%;
    max-width: 600px;
    position: relative;
    @include flex-arrange(center, center);

    .videoPreview {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
}
