.container {
  @include flex-arrange(space-around, flex-start);
  width: 100%;
  height: 84px;
  background: skyblue;
  position: absolute;
  bottom: 0;
  position: fixed;
  padding-top: 20px;
}
