.container {
  width: 101px;
  height: 150px;
  border-radius: 5px;
  background: white;
  @include flex-arrange(center, center);
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  .image {
    border-radius: 5px;
  }
  span {
    @include font-style(1.3rem, black, 400);
  }
}
