.innercontainer {
  @include flex-arrange(flex-start, center);
  width: 100%;
  background-color: white;
  padding: 0 5px;
  margin-bottom: 10px;
  gap: 10px;
  img {
    border-radius: 5px;
  }
  .actionBtn {
    margin-left: auto;
    @include flex-arrange(flex-start, center);
    gap: 20px;
  }
}
